<div class="card card-flush h-md-50 mb-5 mb-xl-10">
        
    <div class="card-body">
      <h5 class="text-muted fw-normal mt-0">Товары</h5>
      <p class="fsmb-0 mb-3">
        <span class="fs-2" id="products-count">{{ products.count}}</span>
        <span class="text-nowrap text-muted">всего товаров</span>
      </p>

      <p class="mb-0 text-muted mt-3">
        <span id="products-count-china" class="text-primary me-2 fs-5">{{ products.china}}</span>
        <span class="text-nowrap">Китай</span>
      </p>

      <p class="mb-0 text-muted mt-3">
        <span id="products-count-bishkek" class="text-primary me-2 fs-5">{{ products.bishkek}}</span>
        <span class="text-nowrap">Бишкек</span>
      </p>

      <p class="mb-0 text-muted mt-3">
        <span id="products-count-transit" class="text-primary me-2 fs-5">{{ products.transit}}</span>
        <span class="text-nowrap">В пути</span>
      </p>

      <p class="mb-0 text-muted mt-3">
        <span id="products-count-taked" class="text-success me-2 fs-5">{{ products.piked}}</span>
        <span class="text-nowrap">Забрали</span>
      </p>

    </div>
  </div>